*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.nav{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}
.nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}
.nav{
    color: inherit;
    
}
.nav ul a{
    text-decoration: none;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}
.site-title{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}
.nav li .active{
    background-color: #444;
}
.nav li:hover{
    background-color: #777;
}
